.main__wrapper-content {
  background-color: $color-bg;
  padding-top: 65px;

  .main__content {
    width: 1161px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .content__title {
      padding-bottom: 50px;
    }
  }

  section {
    width: 50%;
  }

  .content__news {
    //width: 50%;

    .news__block {
      display: flex;
      justify-content: space-between;
      padding-bottom: 32px;

      .news__picture {
        position: relative;
        margin-right: 35px;

        .picture__date {
          position: absolute;
          top: 10px;
          left: -20px;

          .date__month {
            background-color: $color-blue;
            color: $color-white;
            width: 42px;
            line-height: 40px;
            text-align: center;
          }

          .date__number {
            background-color: $color-yellow;
            color: $color-fontsBlack;
            width: 42px;
            line-height: 40px;
            text-align: center;
          }
        }
      }
    }

    .news__block--first {

      i {
        display: block;
        width: 150px;
        height: 150px;
        background-image: url(../img/design-engineer.png);
      }
    }

    .news__block--second {

      i {
        display: block;
        width: 150px;
        height: 150px;
        background-image: url(../img/electrical-engineer-720.png);
      }
    }

    .news__content {

      .news__headline {
        padding:8px 0 14px;

        a {
          text-decoration: none;
          color: $color-black;

          &:hover {
            color: $color-blue;
          }
        }
      }

      .news__caption {
        @include text;
        padding-bottom: 30px;

        a {
          text-decoration: none;
          color: $color-blue;
        }
      }

      .news__text {
        @include text;
      }
    }
  }

  .content__banners {
    margin-left: 40px;

    .banners__pannel {

      .pannel__headline {
        display: flex;
        flex-direction: row;
        margin-bottom: 6px;
        color: $color-black;
        outline: 2px solid $color-bigNumeral;



        .headline__plus {
          border-right: 1px solid $color-bigNumeral;
          width: 38px;
          line-height: 39px;
          text-align: center;
        }

        .headline__text {
          width: 100%;
          line-height: 38px;
          padding-left: 15px;
        }
      }

      .pannel__headline--active {
        color: $color-white;
        background-color: $color-yellow;
      }

      .pannel__text {
        @include text;
        padding: 20px 0 44px 38px;
        display: none;
      }

      .pannel__text--active {
        display: block;

      }
    }
  }
}
