.main__wrapper-content {
  background-color: $color-bg;
  padding-top: 65px;

  .main__content {
    width: 1161px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .content__title {
      padding-bottom: 50px;
    }
  }

  section {
    width: 50%;
  }

  .content__news {
    //width: 50%;

    .news__block {
      display: flex;
      justify-content: space-between;
      padding-bottom: 32px;

      .news__picture {
        position: relative;
        margin-right: 35px;

        .picture__date {
          position: absolute;
          top: 10px;
          left: -20px;

          .date__month {
            background-color: $color-blue;
            color: $color-white;
            width: 42px;
            line-height: 40px;
            text-align: center;
          }

          .date__number {
            background-color: $color-yellow;
            color: $color-fontsBlack;
            width: 42px;
            line-height: 40px;
            text-align: center;
          }
        }
      }
    }

    .news__block--first {

      i {
        display: block;
        width: 150px;
        height: 150px;
        background-image: url(../img/design-engineer.png);
      }
    }

    .news__block--second {

      i {
        display: block;
        width: 150px;
        height: 150px;
        background-image: url(../img/electrical-engineer-720.png);
      }
    }

    .news__content {

      .news__headline {
        padding:8px 0 14px;

        a {
          text-decoration: none;
          color: $color-black;

          &:hover {
            color: $color-blue;
          }
        }
      }

      .news__caption {
        @include text;
        padding-bottom: 30px;

        a {
          text-decoration: none;
          color: $color-blue;
        }
      }

      .news__text {
        @include text;
      }
    }
  }

  .content__banners {
    margin-left: 40px;

    .banners__pannel {
      position: relative;

        .headline__btn {
          width: 100%;
          //margin: 0 0 5px;
          line-height: 38px;
          padding-left: 60px;
          cursor: pointer;
          background-color: $color-bg;


          text-align: left;
          color: $color-black;
          border: 2px solid $color-bigNumeral;
          text-transform: uppercase;
          font-size: 13px;
          font-family: $ubuntuMedium;
          margin-bottom: 6px;
          &::-webkit-details-marker {
            display: none;
          }
          &:before {
            display: block;
            position: absolute;
            left: 20px;
            width: 25px;
            content: '+';
            font-size: 20px;
            line-height: 38px;
            border-right: 2px solid $color-bigNumeral;
            margin-right: -2px;
          }

          details[open] .headline__btn:before {
            content: '-';
          }

          &:hover,
          &:focus {
            transition:0.4s;
            background-color: $color-yellow;
            color: $color-white;
            outline: none;

          }

        }

        .pannel__text {
          @include text;
          padding: 20px 0 44px 38px;
        }

        details[open] .headline__btn:before {
          content: '-';
        }




        // .headline__btn.active,
        // .headline__btn:hover {
        //   color: $color-white;
        //   background-color: $color-yellow;
        // }
      // }



      // .pannel__headline--active {
      //   color: $color-white;
      //   background-color: $color-yellow;
      // }

      // .pannel__text--active {
      //   display: block;
      //
      // }
    }
  }
}
